body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#tablero {
    background-color: #CCC;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.rabbit {
    background-color: hsl(59, 100%, 50%);
    border: .25vmin solid black;
}